<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
		<title>Inventory List</title>
	</head>
	<body>
		<nav>
			<a href="/inventory">Back to Main Store</a>
            <a href="/inventory/<%=item._id%>/edit">Edit Product</a>
		</nav>
		<h1><%=item.name %></h1>
		<img id="pic" src="<%= item.img%>" alt="item.name"><br>
        Description: <%= item.description%>
		<br />
        
    <!-- DELETE -->
    <form action="/inventory/<%=item._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Remove Item">
    </form>
	</body>
</html>